{
    host: '',
    user: '',
    password: '',
    dtabase: ''
}



// {
//     "host": "localhost",
//     "user": "root",
//     "password": "root",
//     "database": "sweet_corner"
// }